:root {
  --scalevar : 0.6;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  
}

canvas {
  display: block;
  zoom: var(--scalevar);
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}
.zoomslider{
  width: 300px;
}